<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en">
    <head>
        <title>index</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
 
    <body bgcolor="#c5dfe6">
        <div class="one">
            <div class="two">
                <h1>Side Bar</h1>
                <ul>
                    <a href="{{url_for('index')}}"><li class="active">Index</li></a>
					<a href="{{url_for('home')}}"><li>home</li></a>
                    <a href="{{url_for('display')}}"><li>Display</li></a>
                    <a href="{{url_for('update')}}"><li>Update</li></a>
                    <a href="{{url_for('delete_account')}}"><li>Delete Account</li></a>
                    <a href="{{url_for('logout')}}"><li>Log out</li></a>
                </ul>
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>Welcome!! You are in Index Page!! </h2>                    
                </div></br></br>
                <div class="contentbar">
                    <div class="msg">{{ msg }}</div>
                </div>
                 
            </div>
        </div>
    </body>
</html>