/*Store this code in 'style.css' file inside the 'static' folder*/

.logincontent{
	margin: 0 auto;
	height: 500px;
	width: 400px;
	background-color: #c5dfe6; 
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.logintop{
	height: 60px;
	width: 398px;
	border-radius: 10px;
	background-color: #4cc7f8; 
	color: #000000;
}

.registercontent{
	margin: 0 auto;
	height: 740px;
	width: 400px;
	background-color: #c5dfe6; 
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.registertop{
	height: 60px;
	width: 398px;
	border-radius: 10px;
	background-color: #4cc7f8; 
	color: #000000;
}

.textbox{
	padding: 10px 40px;
	background-color: #4cc7f8; 
	border-radius: 10px;
	border-color: #3682a5;
	
}

.textbox:focus {
    outline: 2px solid #003046; 
}


::placeholder {
	color: #000000;
	opacity: 0.7;
	font-style: oblique;
}

.btn {
	padding: 15px 45px;
	background-color: #4cc7f8; 
	color: #000000;
	font-style: oblique;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	border-width: 2px;
	border-style: solid;
	border-color: #058bc0;
}

.btn:hover {
	background-color: #2e9dc9;
	border-radius: 18px;
	transition: 0.25s;
  }

.worddark{
	color: #000000;
	font-style: oblique;
	font-weight: bold;
}

.wordlight{
	color: #000000;
	font-style: oblique;
	font-weight: bold;
}

.link{
	color: #003046;
	text-decoration: underline;
}

.link:hover{
	color: #1c5f7e;
	transition: 0.3s;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

.one{
	display: flex;
	position: relative;
}

.one .two{
	width: 225px;
	height: 100%;
	background: #4cc7f8;
	padding: 30px 0px;
	position: fixed;
}

.body{
	background-color: #afd0d8;
}

.one .two h1{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	font-style: oblique;
	font-weight: bold;
}
		
.one .two h2{
	color: #fff;
	text-align: center;
}
		
.one .two .active{
	background: #058bc0;
}

.one .two ul li{
	text-align: center;
	padding: 15px;
	border-bottom: 0.1px solid rgb(13, 18, 44);
	border-top: 0.1px solid rgb(13, 18, 44);
} 

.one .two ul li a{
	color: #000000;
	display: block;
}

.one .two ul li a .side{
	width: 25px;
	align:center;
}

.one .content{
	width: 100%;
	margin-left: 200px;
}

.one .content .topbar{
	text-align: center;
	padding: 20px;
	background: #0071a5;
	color: white;
}
		
.one .content .contentbar{
	margin: auto;
}

.one .content .contentbar h1{
	color: #0071a5;
	text-align: center;
	font-style: oblique;
	font-weight: bold;
}


.one .two ul li:hover {
  background-color: #058bc0;
  transition: background-color 0.3s;
}


.textbox:hover {
  background-color: #058bc0;
  transition: background-color 0.3s;
}

.card{
	width: 400px;
	border-style: none;
	border-width: 1px;
	border-radius: 5px;
}

.one .two a:link {
	color: black;
}
  
.one .two a:visited {
	color: black;
}

