<!--Store this code in 'update.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<title>update</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#c5dfe6"> 
		<div class="one">
			<div class="two">
				<h1>Side Bar</h1>
				<ul>
					<a href="{{url_for('index')}}"><li>Index</li></a>
					<a href="{{url_for('home')}}"><li>home</li></a>
                    <a href="{{url_for('display')}}"><li>Display</li></a>
                    <a href="{{url_for('update')}}"><li class="active">Update</li></a>
                    <a href="{{url_for('delete_account')}}"><li>Delete Account</li></a>
                    <a href="{{url_for('logout')}}"><li>Log out</li></a>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in Update Page!! </h2>				 
				</div></br></br>
				<div class="contentbar">
				<h1>Fill Your Details to Update</h1></br>
			<form action="{{ url_for('update') }}" method="post" autocomplete="off">
					<div class="msg">{{ msg }}</div>
					<input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username"
					value="{{ account['username'] }}" required></br></br>
					
					<input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br>
					
					<input type="email" name="email" placeholder="Enter Your Email ID" class="textbox" id="email"
					value="{{ account['email'] }}" required></br></br>
					
					<input type="text" name="organization" placeholder="Enter Your organization" class="textbox" id="organization"
					value="{{ account['organization'] }}" required></br></br>
					
					<input type="text" name="address" placeholder="Enter Your Address" class="textbox" id="address"
					value="{{ account['address'] }}" required></br></br>
					
					<input type="text" name="city" placeholder="Enter Your City" class="textbox" id="city"
					value="{{ account['city'] }}" required></br></br>
					
					<input type="text" name="state" placeholder="Enter Your State" class="textbox" id="state"
					value="{{ account['state'] }}" required></br></br>
					
					<input type="text" name="country" placeholder="Enter Your Country" class="textbox" id="country"
					value="{{ account['country'] }}" required></br></br>
					
					<input type="text" name="postalcode" placeholder="Enter Your Postal Code" class="textbox" id="postalcode"
					value="{{ account['postalcode'] }}" required></br></br>
					
					<input type="submit" class="btn" value="Update">
			</form>				 
				</div>
				
			</div>
		</div>
	</body>
</html>
